.book-info-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.book-info {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.book-info img {
  max-width: 200px;
  display: block;
  margin: 0 auto 20px;
}

.book-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.book-info p {
  margin-bottom: 5px;
}

.btn-details {
  background-color: #494b49;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 40%;
  margin-top: 15px;
}

.btn-details:hover {
  background-color: #333633;
}
